.contact-list-container {
  display: flex;
  justify-content: space-evenly;

  .contact-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  a {
    text-decoration: none;
  }

  input {
    align-self: center;
  }
}
